body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    height: 200vh;
    margin-left: 200px;
    margin-top: 200px;
}
/*form input{       "Todos os input descendentes de form aplica a borda"
    border: 2px solid  red;

}*/
/*form > input{    "Filho direto de form - aplica a borda"
    border: 2px solid red;
}
*/
form ~ input{    /*  "Irmão de adjascente do primeiro input descendente de form"*/
    border: 2px solid red;
}
